.main {
  width: 100%;
  padding: 30px 0px 50px;
  background: #E2E2E2;
}
.main .maincontent {
  width: 1000px;
  margin: 0px auto;
}
.maincontent header {
  font-size: 32px;
  color: #DC5A42;
}
.maincontent .content {
  overflow: hidden;
}
.maincontent .content div:first-child {
  width: 500px;
  float: left;
  margin-right: 45px;
}
.maincontent .content div:first-child img {
  width: 500px;
}
.maincontent .content div:nth-child(2) {
  width: 455px;
  float: left;
}
.maincontent .content p {
  margin-bottom: 44px;
}
